import React from 'react';
import type { {{{ NAME.CAPITALIZED }}}PageProps } from 'routes/{{{ NAME.CAPITALIZED }}}/types';

export const {{{ NAME.CAPITALIZED }}}Page = ({ t }: {{{ NAME.CAPITALIZED }}}PageProps) => (
  <>
    <h1>{t('{{{ NAME.CAPITALIZED }}}')}</h1>
  </>
);
