import { createAction } from 'app/store/createAction';
import type { {{{ NAME.PASCAL }}}Action } from 'domains/{{{ DOMAIN.SINGULAR.KEBAB }}}/types/actions/{{{ NAME.PASCAL }}}Action';

export const {{{ NAME.CAMEL }}} = createAction<{{{ NAME.PASCAL }}}Action>('{{{ NAME.LOWERCASE }}}');
