import { {{{ NAME.PASCAL }}}DataSource } from 'domains/{{{ DOMAIN.SINGULAR.KEBAB }}}/types/data-sources/{{{ NAME.PASCAL }}}DataSource';

export const {{{ NAME.PASCAL }}}DataSource: {{{ NAME.PASCAL }}}DataSource = {
  // TODO: implement {{{ NAME.PASCAL }}}DataSource.
}
