import { createReducer } from 'app/store/createReducer';
import type { {{{ NAME.PASCAL }}}Store } from 'domains/{{{ DOMAIN.SINGULAR.KEBAB }}}/types/stores/{{{ NAME.PASCAL }}}Store';
import type { {{{ NAME.PASCAL }}}Actions } from 'domains/{{{ DOMAIN.SINGULAR.KEBAB }}}/types/actions/{{{ NAME.PASCAL }}}Actions';

export const INITIAL_STATE: {{{ NAME.PASCAL }}}Store = {
  // TODO: implement {{{ NAME.PASCAL }}}Store's initial state.
};

const {{{ NAME.CAMEL }}}Reducer = createReducer<{{{ NAME.PASCAL }}}Actions, {{{ NAME.PASCAL }}}Store>(INITIAL_STATE);

export { {{{ NAME.CAMEL }}}Reducer };
