declare namespace Micra {
  interface Services {
    // TODO: register the {{{ DOMAIN.KEBAB }}}'s services
  }

  export interface Config {
    // TODO: register the {{{ DOMAIN.KEBAB }}}'s configurations
  }
}

declare namespace NodeJS {
  interface ProcessEnv {
    // TODO: register the {{{ DOMAIN.KEBAB }}}'s environmental variables
  }
}
