import type { {{{ NAME.SINGULAR.PASCAL }}}Service } from 'domains/{{{ DOMAIN.SINGULAR.KEBAB }}}/types/services/{{{ NAME.SINGULAR.PASCAL }}}Service';

export const Client{{{ NAME.SINGULAR.PASCAL }}}Service: {{{ NAME.SINGULAR.PASCAL }}}Service = {
  // TODO: implement {{{ NAME.SINGULAR.PASCAL }}}ClientService
};
