import type { {{{ NAME.SINGULAR.PASCAL }}}Service } from 'domains/{{{ DOMAIN.SINGULAR.KEBAB }}}/types/services/{{{ NAME.SINGULAR.PASCAL }}}Service';

export class {{{ NAME.SINGULAR.PASCAL }}}ClientService implements {{{ NAME.SINGULAR.PASCAL }}}Service {
  constructor(
    // TODO: define data sources
  ) {}

  // TODO: implement {{{ NAME.SINGULAR.PASCAL }}}ClientService
}
