import type { {{{ NAME.PASCAL }}}ResetAction } from 'domains/{{{ DOMAIN.SINGULAR.KEBAB }}}/types/actions/{{{ NAME.PASCAL }}}ResetAction';

export type {{{ NAME.PASCAL }}}Actions =
  // TODO: create {{{ NAME.PASCAL }}}Store's actions
  | {{{ NAME.PASCAL }}}ResetAction;
