export interface {{{ NAME.PASCAL }}}Input {
  // TODO: implement {{{ NAME.PASCAL }}}Input interface
}

export interface {{{ NAME.PASCAL }}}Response {
  // TODO: implement {{{ NAME.PASCAL }}}Response interface
}

export interface {{{ NAME.PASCAL }}}DataSource {
  run(input: {{{ NAME.PASCAL }}}Input): Promise<{{{ NAME.PASCAL }}}Response>;
}
