import { connect } from 'helpers/connect';
import { {{{ COMPONENT.PASCAL }}} } from 'app/{{{ DOMAIN }}}/experience/components/{{{ COMPONENT.PASCAL }}}/{{{ COMPONENT.PASCAL }}}';
import { use{{{ COMPONENT.PASCAL }}} } from 'app/{{{ DOMAIN }}}/experience/components/{{{ COMPONENT.PASCAL }}}/use{{{ COMPONENT.PASCAL }}}';

export default connect(use{{{ COMPONENT.PASCAL }}}, {{{ COMPONENT.PASCAL }}});
