import styled, { css } from 'styled-components';
import { StyledProps } from 'app/theme/types';

export const {{{ COMPONENT.PASCAL }}}Wrapper = styled.div(
  ({ theme }: StyledProps) => css`
    && {
      /* TODO: Write {{{ COMPONENT.PASCAL }}}'s styles */
    }
  `
);
