import React from 'react';

export interface {{{ COMPONENT.PASCAL }}}Props {
  as?: keyof JSX.IntrinsicElements | React.ComponentType<any>;
  children?: React.ReactNode;
  className?: string | Record<string, boolean>;
  dataTestId?: string;
  id?: string;
  role?: string;
  style?: React.CSSProperties;
}
