import app from '@micra/application';
import { {{{ NAME.CAPITALIZED }}}Config } from 'app/{{{ NAME.LOWERCASE }}}/types';

app.config.set<{{{ NAME.CAPITALIZED }}}Config>('{{{ NAME.LOWERCASE }}}', {
  // TODO: write {{{ NAME.CAPITALIZED }}} config
});
