import { ServiceProvider } from '@micra/service-provider';

export class {{{ NAME.CAPITALIZED }}}ServiceProvider extends ServiceProvider {
  register() {
    const {{{ NAME.CAMEL }}}Config = config('{{{ NAME.KEBAB }}}');

    // TODO: write {{{ NAME.CAPITALIZED }}}ServiceProvider register method
  }

  boot() {
    // TODO: write {{{ NAME.CAPITALIZED }}}ServiceProvider boot method
  }
}
