import { factory } from 'node-factory';
import type { {{{ NAME.PASCAL }}} } from 'domains/{{{ DOMAIN.SINGULAR.KEBAB }}}/types/common/{{{ NAME.PASCAL }}}';

export const {{{ NAME.PASCAL }}}Factory = factory<{{{ NAME.PASCAL }}}>((fake) => ({
  // TODO: implement {{{ NAME.PASCAL }}} interface factory
}));
